@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  display: flex;
  background-color: #cfcfcf;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dashboard .content {
  padding: 5em;
}

.dashboard .content .apiKey {
  border: solid gray 1px;
  padding: 5px;
}

.dashboard .content .apiKey {

}

.dashboard .navBar p {
  font-size: 1.5em;
  color: #282A27;
  margin-top: 1em;
}

.dashboard .navBar img {
  border-radius: 50%;
}

.dashboard .navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  height: 100vh;
  background-color: #F2F3F1;
  padding: 30px;
}